body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  margin-top: 40px;
}
.textarea {
  width: 420px;
  outline: none;
  resize: none;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border: 1px solid #ccc;
  margin: 0 auto 24px;
  min-height: 200px;
  max-height: 800px;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 8px 12px;
  text-align: left;
}
.button {
  border: 1px solid #61dafb;
  outline: none;
  color: #61dafb;
  background-color: #fff;
  font-size: 16px;
  padding: 12px 50px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  margin: 16px auto;
  width: 220px;
}
.error {
  background-color: rgba(255,62,28,0.41);
}
.spam {
  background-color: rgba(0,10,255,0.41);
}
.unique {
  background-color: rgba(255,138,4,0.41);
}
.stop {
  background-color: rgba(0,255,1,0.41);
}
.control-block {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 16px;
}
.control-block__item {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border: 1px solid #e2e2e2;
  border-radius: 20px;
  color: #333;
  line-height: 15px;
  padding: 7px 12px 7px 5px;
  margin: 0 5px;
  text-align: center;
  background-color: white;
  cursor: pointer;
}
.control-block__item__round.red {
  background-color: #ff9494;
}
.control-block__item__round.blue {
  background-color: #6666ff;
}
.control-block__item__round.green {
  background-color: #9de0b5;
}
.control-block__item__round.yellow {
  background-color: #ffff66;
}
.control-block__item__round {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}
.control-block__item__text {
  display: inline-block;
}
.el {
  margin-right: 4px;
}
